<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUserServlet</servlet-name>
        <servlet-class>servlet.ValidateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseInfoServlet</servlet-name>
        <servlet-class>servlet.CourseInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultInfoServlet</servlet-name>
        <servlet-class>servlet.ResultInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndividualResultServlet</servlet-name>
        <servlet-class>servlet.IndividualResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResultTableServlet</servlet-name>
        <servlet-class>servlet.EditResultTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddResultServlet</servlet-name>
        <servlet-class>servlet.AddResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>servlet.AddStudentServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>RegistrationInfoServlet</servlet-name>
        <servlet-class>servlet.RegistrationInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionInfoServlet</servlet-name>
        <servlet-class>servlet.SessionInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResultServlet</servlet-name>
        <servlet-class>servlet.EditResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationRequestServlet</servlet-name>
        <servlet-class>servlet.RegistrationRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncompleteRegistrationServlet</servlet-name>
        <servlet-class>servlet.IncompleteRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegistrationServlet</servlet-name>
        <servlet-class>servlet.CourseRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistrationServlet</servlet-name>
        <servlet-class>servlet.StudentRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultRegistrationServlet</servlet-name>
        <servlet-class>servlet.ResultRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultInfoServletNew</servlet-name>
        <servlet-class>servlet.ResultInfoServletNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUserServlet</servlet-name>
        <url-pattern>/ValidateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseInfoServlet</servlet-name>
        <url-pattern>/CourseInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/StudentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultInfoServlet</servlet-name>
        <url-pattern>/ResultInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualResultServlet</servlet-name>
        <url-pattern>/IndividualResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResultTableServlet</servlet-name>
        <url-pattern>/EditResultTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddResultServlet</servlet-name>
        <url-pattern>/AddResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationInfoServlet</servlet-name>
        <url-pattern>/RegistrationInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionInfoServlet</servlet-name>
        <url-pattern>/SessionInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResultServlet</servlet-name>
        <url-pattern>/EditResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationRequestServlet</servlet-name>
        <url-pattern>/RegistrationRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncompleteRegistrationServlet</servlet-name>
        <url-pattern>/IncompleteRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegistrationServlet</servlet-name>
        <url-pattern>/CourseRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistrationServlet</servlet-name>
        <url-pattern>/StudentRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultRegistrationServlet</servlet-name>
        <url-pattern>/ResultRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultInfoServletNew</servlet-name>
        <url-pattern>/ResultInfoServletNew</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>
        PGD_RPS
    </display-name>
    <welcome-file-list>
        <welcome-file>Home_Unauthorized.jsp </welcome-file>
    </welcome-file-list>
</web-app>
